.search {
  display: flex;
  background-color: var(--general-white);
  border-radius: 8px;
  width: 100%;
}

.search__content-sm {
  display: none;
}

.search__content {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.3;
}

.search__content::placeholder {
  color: #333333;
}

.search__content-destination {
  width: 36%;
}

.search__content-date {
  width: 22%;
}

.search__content--label-destination {
  color: var(--general-white);
  position: absolute;
  top: -45px;
  left: 24px;
}

.search__content--label-destination::before {
  content: 'Your destination or hotel name';
}

.search__content--destination {
  width: 100%;
  height: 6.4rem;
  padding-left: 26px;
  border: 3px solid transparent;
  border-radius: 8px 0 0 8px;
}

.search__content--destination:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 8px;
}

.search__content--label-date {
  color: var(--general-white);
  position: absolute;
  top: -45px;
  left: 25px;
}

.search__content--label-date::before {
  content: 'Check-in - Check-out';
}

.search__content--date {
  width: 100%;
  height: 6.4rem;
  border: 3px solid transparent;
  text-align: center;
}

.search__content--date:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 8px;
}

.search__content-pax {
  width: 27%;
}

.search__content--btn {
  width: 100%;
  height: 6.4rem;
  border: 3px solid transparent;
  text-align: center;
}

.search__content--btn:focus {
  border: 3px solid var(--accent-yellow);
  border-radius: 8px;
}

.search__content-btn {
  width: 16%;
  height: 6.4rem;
  background-color: var(--accent-blue);
  color: var(--general-white);
  font-size: 2.4rem;
  font-weight: 500;
  border-radius: 8px;
  line-height: 1.4;
}

.options {
  padding: 22px 22px;
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 259px;
  background-color: #ffffff;
  top: 76px;
  right: 0;
}

.options-description-text {
  display: flex;
  align-items: center;
}

.options-text-div {
  margin-top: 24px;
  margin-bottom: 12px;
  line-height: 0.8;
}

.options-text {
  font-size: 12px;
}

.options-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
}

.options-item {
  display: flex;
  justify-content: space-between;
}

.options-item-buttons {
  display: flex;
  gap: 20px;
}

.options-button {
  color: #3077c6;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: 1px solid #3077c6;
  cursor: pointer;
  transform: none;
}

.options-button:disabled {
  color: #cecece;
  border: 1px solid #cecece;
}

.options-button :disabled {
  color: #3077c6;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border: 1px solid #3077c6;
  cursor: pointer;
  transform: none;
}

.options-child-age-select {
  border: 1px solid #3077c6;
  padding: 4px 8px;
}

.options-counter-number {
  margin-top: 5px;
}

.options-select-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 10px;
}

@media (max-width: 767px) {
  .search {
    flex-wrap: wrap;
    background-color: var(--accent-yellow);
    border-radius: 0;
    border: 4px solid var(--accent-yellow);
  }

  .filter {
    display: none;
  }

  .search__content {
    width: 100%;
    height: 6rem;
    border: 4px solid var(--accent-yellow);
    border-radius: 0.8rem;
    text-align: center;
  }

  .search__content-btn {
    width: 100%;
    height: 6.4rem;
    border: 8px solid var(--accent-yellow);
  }

  .search__content--label-destination,
  .search__content--label-date {
    display: none;
  }
}

@media (max-width: 568px) {
  .search {
    flex-wrap: wrap;
    background-color: var(--accent-yellow);
    border-radius: 0;
    border: 4px solid var(--accent-yellow);
  }

  .search__content-sm {
    display: flex;
    height: 5.6rem;
    position: relative;
    width: 100%;
  }

  .search__content {
    display: none;
  }

  .search__content-sm--destination {
    border: 4px solid var(--accent-yellow);
    border-radius: 0.8rem;
    padding-left: 3.6rem;
  }

  .search__content-sm--label-in,
  .search__content-sm--label-out,
  .search__content-sm--label-adult,
  .search__content-sm--label-child,
  .search__content-sm--label-room {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: 2;
  }

  .search__content-in-item,
  .search__content-out-item {
    width: 50%;
    position: relative;
  }

  .search__content-adult,
  .search__content-child,
  .search__content-room {
    position: relative;
    width: 33%;
  }

  .search__content-sm--in,
  .search__content-sm--out,
  .search__content-sm--adult,
  .search__content-sm--child,
  .search__content-sm--room {
    border: 4px solid var(--accent-yellow);
    border-radius: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 2.4rem;
  }

  .search__content-sm--child {
    border-left: 1px solid var(--stroke-color-additional);
    border-right: 1px solid var(--stroke-color-additional);
    border-radius: 0;
  }

  .search__content-sm--adult {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .search__content-sm--room {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }

  .search__content-sm--destination::placeholder,
  .search__content-sm--in::placeholder,
  .search__content-sm--out::placeholder,
  .search__content-sm--adult::placeholder,
  .search__content-sm--child::placeholder,
  .search__content-sm--room::placeholder {
    color: var(--text-color-main);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .search__content-btn {
    height: 5.6rem;
    border: 4px solid var(--accent-yellow);
    width: 100%;
    font-size: 1.9rem;
  }

  .search-icon {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    z-index: 100;
    top: 2rem;
    left: 1.6rem;
  }
}
